.col-md-8 {
   .btn.btn-form-lower {
        @media (min-width: 992px) {
            margin-top: 27px;
        }
    }
}

.manipulate-link {
    padding: 6px;
}

.btn.btn-top {
    margin-bottom: 15px;
}

.has-footer {
    margin-bottom: 45px !important;
}

.total-price-footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 12px;
    background: #3498db;
    color: #fff;
    text-align: center;
}

.list-group-item {
    padding-bottom: 25px !important;
}
